.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  height: 100vh;
}
.App-container {
    padding: 10px 20px 30px;
    width: 90%;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  height: 10vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
